{% extends "base.html" %}

{% block content %}
<div class="content">
  <div class="well">
    <p class="lead">Hello,<br>
      This demo website was implemented by <a href="https://www.odesk.com/users/~01c5358606010284ea">Innokentiy Enikeev</a> as part of application process.<br>
      The timeline of implementation is available via github: <a href="https://github.com/enikesha/box-demo/commits/master">https://github.com/enikesha/box-demo/commits/master</a>
    </p>
  </div>
</div>
{% endblock %}
