{% extends "base.html" %}

{% block content %}
<div class="starter-template">
  <h1>This is the demo of basic CRUD</h1>
  <p class="lead">Here's a editable list of notes tied to current session</p>
</div>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Note created</th>
      <th>Text</th>
      <th>Note updated</th>
    </tr>
  </thead>
  <tbody>
    {% for note in notes %}
    <tr>
      <td><a href="{% url 'note_edit' pk=note.pk %}">{{ note.created_on|date:"SHORT_DATETIME_FORMAT" }}</a></td>
      <td>{{ note.text|truncatechars:100 }}</td>
      <td>{{ note.updated_on|date:"SHORT_DATETIME_FORMAT" }}</td>
    </tr>
    {% empty %}
    <tr colspan="3">
      <td>No notes yet, <a href="{% url 'note_add' %}">add one?</a></td>
    </tr>
    {% endfor %}
  </tbody>
  <tfooter>
    <tr>
      <td></td>
      <td></td>
      <td><a href="{% url 'note_add' %}">Add note</a></td>
    </tr>
  </tfooter>
</table>
{% endblock %}
